:root {
    /* primary color */
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    /* neutral color */
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);

    --transition: 300ms ease;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.7;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3 {
    font-family: 'DM Serif Display', serif;
    line-height: 1.15;
    letter-spacing: 0.15rem;
    color: var(--very-dark-violet);
}

h1 {
    font-size: 4.1rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    display: block;
}

button {
    font-family: inherit;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--very-light-gray);
    color: var(--dark-grayish-violet);
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
}

.container {
    max-width: 114.8rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

.page-header {
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: var(--very-light-gray);
    box-shadow: 0px -1rem 1.5rem black;
}

/* Nav start ===== */
.nav {
    padding: 2.3rem 0;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-menu {
    position: fixed;
    top: var(--page-header-height, 78px);
    left: 100%;
    width: 100vw;
    height: calc(100vh - 78px);
    background-color: var(--very-dark-violet);
    transition: left var(--transition);
}

.nav-menu.open {
    left: 0;
}

.nav-menu__item-link {
    display: block;
    padding-top: 4.8rem;
    color: white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.nav-menu__item-link:active {
    color: var(--dark-grayish-violet);
}

.nav-menu__link {
    display: block;
    margin: 3.4rem 2.4rem 0;
    padding: 1em 0;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border: 0.2rem solid white;
}

.nav-menu__link:active {
    background-color: white;
    color: var(--dark-grayish-violet);
}


.hamburger {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hamburger__close {
    display: none;
}

.hamburger.is-active .hamburger__open {
    display: none;
}

.hamburger.is-active .hamburger__close {
    display: block;
}

/* Nav end ===== */

/* Hero start ===== */
.hero {
    background-color: var(--dark-violet);
}

.hero .container {
    position: relative;
    padding-inline: 0;
}

.hero-sm-screen-img {
    width: 100%;
}

.hero-texts {
    position: relative;
    text-align: center;
    padding-inline: 2.4rem;
}

.hero-texts__top-line {
    display: none;
}

.hero-texts__heading {
    padding-top: 10rem;
    position: relative;
    z-index: 10;
    color: white;
}

.hero-texts__sub-heading {
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    color: white;
}

.hero-texts__link {
    display: inline-block;
    margin-bottom: 9rem;
    padding: 0.5em 2em;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border: 0.2rem solid white;
}

.hero-texts__link:active {
    color: var(--very-dark-violet);
    background-color: white;
}

.hero-lg-screen-img {
    display: none;
}

.hero-pattern-left-sm-screen {
    position: absolute;
    top: 0;
    left: 0;
}

.hero-pattern-right-sm-screen {
    position: absolute;
    bottom: -18rem;
    right: 0;
}

/* Hero end ===== */

/* How-we-work start ===== */
.how-we-work {
    padding: 14rem 0;
}

.how-we-work-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.4rem;
}

.how-we-work-header__top-line {
    background-color: var(--dark-grayish-violet);
    width: 14.5rem;
    height: 0.1rem;
}

.how-we-work-cards {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
    margin: 8.5rem 0 15rem;
}

.how-we-work-card {
    text-align: center;
}

.how-we-work-card__icon {
    margin-bottom: 4rem;
}

.how-we-work-card__texts-heading {
    margin-bottom: 2.2rem;
    text-transform: capitalize;
}

.how-we-work-footer {
    position: relative;
    height: 34.2rem;
    background-color: var(--dark-violet);
    padding-inline: 4.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4.5rem;

    text-align: center;
}

.how-we-work-footer__pattern-sm-screen {
    position: absolute;
    top: 0;
    right: 0;
}

.how-we-work-footer__pattern-lg-screen {
    display: none;
}

.how-we-work-footer__text {
    color: white;
    z-index: 10;
}

.how-we-work-footer__cta {
    display: inline-block;
    padding: 0.5em 2em;
    color: white;
    font-weight: 700;
    border: 2px solid white;
    text-transform: uppercase;
}

.how-we-work-footer__cta:active {
    background-color: white;
    color: var(--very-dark-violet);
}

/* How-we-work end ===== */


/* ==================== MEDIUM SCREEN ==================== */
@media (min-width: 720px) {

    /* Nav start ===== */
    .nav-menu {
        position: static;
        display: flex;
        align-items: center;
        column-gap: 2.6rem;

        width: fit-content;
        height: fit-content;
        background-color: transparent;
    }

    .nav-menu__item-link {
        display: inline;
        padding-top: 0;
        text-align: start;

        font-size: 1.2rem;
        color: var(--dark-grayish-violet);
        letter-spacing: 0.15rem;
        transition: color var(--transition);
    }

    .nav-menu__item-link:focus,
    .nav-menu__item-link:hover {
        color: var(--very-dark-violet);
    }

    .nav-menu__link {
        display: inline;
        margin: 0 0 0 0.5rem;
        padding: 1em 2em;
        font-size: 1.2rem;
        text-align: start;
        letter-spacing: 0.15rem;
        color: var(--very-dark-violet);
        border: 0.2rem solid var(--very-dark-violet);
        transition: all var(--transition);
        transition-property: background-color, color;
    }

    .nav-menu__link:focus,
    .nav-menu__link:hover {
        background-color: var(--very-dark-violet);
        color: white;
    }

    .hamburger {
        display: none;
    }

    /* Nav end ===== */

    /* Hero start ===== */
    .hero {
        position: relative;
    }

    .hero .container {
        top: 6rem;
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
        padding-inline: 2.4rem;
    }

    .hero-sm-screen-img {
        display: none;
    }

    .hero-texts__top-line {
        display: block;
        background-color: white;
        width: 10rem;
        height: 0.1rem;
    }

    .hero-texts {
        padding-inline: 0;
        text-align: left;
    }

    .hero-texts__heading {
        padding-top: 5rem;
    }

    .hero-texts__sub-heading {
        padding-top: 2.2rem;
    }

    .hero-texts__link {
        transition: all var(--transition);
        transition-property: background-color, color;
    }

    .hero-texts__link:focus,
    .hero-texts__link:hover {
        color: var(--very-dark-violet);
        background-color: white;
    }

    .hero-lg-screen-img {
        display: block;
        width: min(43rem, 50%);
        height: auto;
    }

    .hero-pattern-left-sm-screen,
    .hero-pattern-right-sm-screen {
        display: none;
    }

    /* Hero end ===== */

    /* How-we-work start ===== */
    .how-we-work {
        padding: 15rem 0;
    }

    .how-we-work-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2.5rem;
        align-items: baseline;
    }

    .how-we-work-card {
        flex-basis: calc(50% - 2.5rem);
    }

    .how-we-work-footer__cta{
        transition: all var(--transition);
        transition-property: background-color, color;
    }

    .how-we-work-footer__cta:focus,
    .how-we-work-footer__cta:hover {
        background-color: white;
        color: var(--very-dark-violet);
    }

    /* How-we-work end ===== */

}

/* ==================== LARGE SCREEN ==================== */
@media (min-width: 1024px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3.2rem;
    }

    h1,
    h2,
    h3 {
        letter-spacing: 0.3rem;
    }

    /* Hero start ===== */
    .hero .container {
        column-gap: 3.2rem;
        top: 10rem;
    }

    .hero-texts__top-line {
        width: 15rem;
    }

    .hero-texts__heading {
        padding-top: 6.5rem;
    }

    .hero-lg-screen-img {
        width: min(54rem, 45%);
    }

    /* Hero end ===== */

    /* How-we-work start ===== */
    .how-we-work {
        padding: 20rem 0 15rem;
    }

    .how-we-work-header {
        align-items: start;
    }

    .how-we-work-cards {
        flex-wrap: nowrap;
        column-gap: 5rem;
        margin: 10rem 0 16rem;

    }

    .how-we-work-card {
        flex-basis: auto;
        text-align: start;
    }

    .how-we-work-footer {
        height: 25rem;
        padding-inline: 8rem;
        flex-direction: row;
        align-items: center;
        column-gap: 26.5rem;
        text-align: start;
    }

    .how-we-work-footer__pattern-sm-screen {
        display: none;
    }

    .how-we-work-footer__pattern-lg-screen {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .how-we-work-footer__cta{
        width: 38%;
        text-align: center;
        z-index: 10;
    }

    /* How-we-work end ===== */
}